@page
@model IndexModel
@{
    ViewData["Title"] = "Mehaa";
}

<div class="text-center">
    <h1 class="display-4">Mehaa</h1>
    <p>An emerging simple and powerful POS solution for the Retail Shops </p>
</div>
