@page
@model IndexModel
@{
    ViewData["Title"] = "Item Stocks";
}

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <a onclick="jQueryModalGet('?handler=CreateOrEdit','Add Stock')" class="btn bg-success">
            <i class="fa fa-plus text-white" aria-hidden="true"></i>
        </a>
        <a id="reload" class="btn bg-primary">
            <i class="fa fa-sync text-white"></i>
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive"></div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#viewAll').load('?handler=ViewAllPartial');

        });
        $(function () {
            $('#reload').on('click', function () {
                $('#viewAll').load('?handler=ViewAllPartial');
            });
        });
    </script>
}
